<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Bus</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Borrar Bus</h1>
    <form action="/delete" method="post">
        <label for="placa">Placa del Bus:</label>
        <input type="text" name="placa" required>
        <button type="submit">Borrar</button>
    </form>

    <a href="/">Volver al inicio</a>
</body>
</html>